@model QuanLyCuaHangDienThoaiDiDong.Models.NHANVIEN

@{
    ViewBag.Title = "SuaNV";
    Layout = "~/Views/Shared/TrangKhungAdmin.cshtml";
}

<div class="container">
    <div style="display:flex;padding:12px">
        <div style=" font-weight: bold; background-color: #076713; padding: 3px 9px; border-radius: 5px;">
            <a href="@Url.Action("Index", "AdminNhanVien")">
                <img src="~/Images/Icons/Back.png" width="40" />
                BACK
            </a>
        </div>
        <div>
            <span style="font-size: 20px; font-weight: bold; padding-left: 357px;">SỬA NHÂN VIÊN</span>
        </div>
    </div>

    @using (Html.BeginForm("XuLySuaNV", "AdminNhanVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>NHÂN VIÊN</legend>
            @Html.HiddenFor(model => model.MANV)
            <table class="table">
                <tr>
                    <td>Tên NV</td>
                    <td>
                        @Html.TextBoxFor(model => model.HOTEN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HOTEN)
                    </td>
                    <td>Giới tính</td>
                    <td>
                        <div style="display:flex">
                            <div style="margin-left: 5%">
                                @Html.RadioButtonFor(model => model.GIOITINH, "Nam")
                                Nam
                            </div>
                            <div style="margin-left:10% ">
                                @Html.RadioButtonFor(model => model.GIOITINH, "Nữ")
                                Nữ
                            </div>
                        </div>
                    </td>
                    <td>Địa chỉ</td>
                    <td>
                        @Html.TextBoxFor(model => model.DIACHI, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DIACHI)
                    </td>
                </tr>
                <tr>
                    <td>Điện thoại</td>
                    <td>
                        @Html.TextBoxFor(model => model.DIENTHOAI, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DIENTHOAI)
                    </td>
                    <td>Lương</td>
                    <td>
                        @Html.TextBoxFor(model => model.LUONG, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LUONG)
                    </td>
                    <td>Tài khoản</td>
                    <td>
                        @Html.TextBoxFor(model => model.TAIKHOANNV, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TAIKHOANNV)
                    </td>
                </tr>
                <tr>
                    <td>Mật Khẩu </td>
                    <td>
                        @Html.TextBoxFor(model => model.MATKHAUNV, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MATKHAUNV)
                    </td>
                </tr>
            </table>
            <p>
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </p>
        </fieldset>
    }
</div>

